<h1>Toretomo とは</h1>

<br>
<h2>Toretomoは、自分の行ったトレーニングの内容を記録し、投稿することができます。<br>
	またユーザ同士がフォローし合ったり、いいねやコメントを残すことによってトレーニング友達、<br>
	略して「トレ友」になることができるウェブサイトです。

</h2>

<br>
<h2>
一人ではなかなかトレーニングを続けることができない、という人のモチベーションを維持することがこのサイトのテーマです。<br>
自分が行ったトレーニングの記録を簡単に残すことができ、自分の進歩や今まで積み上げてきた努力を容易に確認することができます。<br>
また、自分だけでなく他の人のがんばりも目にすることができ、ユーザー同士がお互いを褒めたり、励まし合うことができます。


</h2>