<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-9">
      <div style="position: relative; display: inline-block;">
        <%= image_tag('gym.jpg' , :style => "width:100%; margin-top:50px;") %>
        <div style="position: absolute; top: 50%; left: 20%; max-width: 100%; max-height: 100%; padding: 5px; text-align: left; color: #f5f5f5;">
          <p style="color: #FFFF33; font-size:35px; font-family: impact; ">
            ようこそ、『Toretomo』へ！
          </p>
        </div>
      </div>

